<header
    class="h-[50px] md:h-[60px] bg-pstLime-100 backdrop-blur-sm items-center justify-center flex px-2 md:px-5 lg:px-10 xl:px-[200px] gap-3 sticky top-0 w-full">
    <div class="rounded-full h-[70%] aspect-square overflow-hidden flex items-center justify-center">
        <img src="../../../assets/imgs/nutrilitics-logo.png" class="h-[120%] object-cover" alt="Nutrilitics Logo">
    </div>
    <h1 class="hidden md:block text-3xl font-pacifico text-lime-950">Nutrilitics</h1>
    <section class="ms-auto">

        <button
            class="text-base lg:text-xl font-bold px-3 py-1 bg-lime-950 border-2 border-transparent text-neutral-50 rounded-md hover:bg-pstLime-400 hover:text-lime-950 hover:border-lime-950 active:scale-95 duration-200 flex items-center justify-center gap-3">
            <span class="hidden md:block">Empezar</span>
            <i class="fa-solid fa-person-walking-arrow-right"></i>
        </button>
    </section>
    <section class="absolute top-0 h-full flex items-center">
        <div class="rounded-xl overflow-hidden h-max flex">
            <input type="text"
                class="bg-neutral-50 w-64 rounded-ss-xl rounded-es-xl outline-0 border-2 border-transparent px-2 focus:border-lime-950 focus:p-2 duration-200">
            <button class="h-full w-[28px] aspect-square text-lime-50 border-2 border-transparent rounded-se-xl rounded-ee-xl bg-pstLime-800 hover:bg-lime-950 active:bg-lime-950 hover:text-neutral-50 active:text-neutral-50 [&>*:first-child]:hover:animate-lateralBounce [&>*:first-child]:active:animate-lateralBounce duration-200"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </section>
</header>