<section id="loading-screen" class="h-screen flex items-center justify-center bg-pstLime-100 relative">
    <div
        class="rounded-full h-[50px] md:h-[100px] lg:h-[150px] xl:h-[200px] aspect-square overflow-hidden flex items-center justify-center">
        <img src="../../../assets/imgs/nutrilitics-logo.png" class="h-[120%] object-cover" alt="Nutrilitics Logo">
    </div>
    <h1
        class="screen-loader-title text-[50px] md:text-[100px] lg:text-[150px] xl:text-[200px] font-extrabold font-pacifico ps-5 pe-2">
        Nutrilitics</h1>
    <div class="absolute bottom-20">
        <span
            class="loader aspect-square h-12 border-[5px] border-lime-950 after:aspect-square after:h-12 after:border-[5px] after:border-lime-800"></span>
    </div>
</section>
